[submodule "modules/partner-contact"]
	path = modules/oca/partner-contact
	url = git@github.com:c4a8-odoo/partner-contact.git
	branch = 16.0
[submodule "modules/module-helpdesk-addon"]
	path = modules/gkgab/helpdesk-addon
	url = git@github.com:c4a8-odoo/module-helpdesk-addon.git
	branch = 16.0
[submodule "modules/project"]
	path = modules/oca/project
	url = git@github.com:c4a8-odoo/project.git
	branch = 16.0
[submodule "modules/timesheet"]
	path = modules/oca/timesheet
	url = git@github.com:c4a8-odoo/timesheet.git
	branch = 16.0
[submodule "modules/web"]
	path = modules/oca/web
	url = git@github.com:c4a8-odoo/web.git
	branch = 16.0-mig
[submodule "modules/sale-workflow"]
	path = modules/oca/sale-workflow
	url = git@github.com:c4a8-odoo/sale-workflow.git
	branch = 16.0
[submodule "modules/server-auth"]
	path = modules/oca/server-auth
	url = git@github.com:c4a8-odoo/server-auth.git
	branch = 16.0
[submodule "modules/web_listview_sticky_header"]
	path = modules/other/web_listview_sticky_header
	url = git@github.com:c4a8-odoo/web_listview_sticky_header.git
	branch = 16.0
[submodule "modules/social"]
	path = modules/oca/social
	url = git@github.com:c4a8-odoo/social.git
	branch = 16.0
[submodule "modules/contract"]
	path = modules/oca/contract
	url = git@github.com:c4a8-odoo/contract.git
	branch = 16.0
[submodule "modules/hr-expense"]
	path = modules/oca/hr-expense
	url = git@github.com:c4a8-odoo/hr-expense.git
	branch = 16.0
[submodule "modules/purchase-workflow"]
	path = modules/oca/purchase-workflow
	url = git@github.com:c4a8-odoo/purchase-workflow.git
	branch = 16.0
[submodule "modules/server-tools"]
	path = modules/oca/server-tools
	url = git@github.com:c4a8-odoo/server-tools.git
	branch = 16.0
[submodule "modules/product-attribute"]
	path = modules/oca/product-attribute
	url = git@github.com:c4a8-odoo/product-attribute.git
	branch = 16.0
[submodule "modules/module-oca-server-backend"]
	path = modules/oca/server-backend
	url = git@github.com:c4a8-odoo/module-oca-server-backend.git
	branch = 16.0
[submodule "modules/module-oca-mis-builder"]
	path = modules/oca/mis-builder
	url = git@github.com:c4a8-odoo/module-oca-mis-builder.git
	branch = 16.0
[submodule "modules/oca/hr-holidays"]
	path = modules/oca/hr-holidays
	url = git@github.com:c4a8-odoo/module-oca-hr-holidays.git
	branch = 16.0
[submodule "modules/oca/OpenUpgrade"]
	path = modules/oca/OpenUpgrade
	url = git@github.com:c4a8-odoo/oca-OpenUpgrade.git
	branch = 16.0
[submodule "modules/odoo/ps-runbot-testing"]
	path = modules/odoo/ps-runbot-testing
	url = git@github.com:c4a8-odoo/module-odoo-ps-runbot-testing.git
	branch = 16.0
