[submodule "modules/oca/partner-contact"]
	path = modules/oca/partner-contact
	url = git@github.com:c4a8-odoo/module-oca-partner-contact.git
	branch = 16.0
[submodule "modules/oca/server-auth"]
	path = modules/oca/server-auth
	url = git@github.com:c4a8-odoo/module-oca-server-auth.git
	branch = 16.0
[submodule "modules/oca/social"]
	path = modules/oca/social
	url = git@github.com:c4a8-odoo/module-oca-social.git
	branch = 16.0
[submodule "modules/oca/timesheet"]
	path = modules/oca/timesheet
	url = git@github.com:c4a8-odoo/module-oca-timesheet.git
	branch = 16.0
[submodule "modules/oca/account-invoicing"]
	path = modules/oca/account-invoicing
	url = git@github.com:c4a8-odoo/module-oca-account-invoicing.git
	branch = 16.0
[submodule "modules/oca/purchase-workflow"]
	path = modules/oca/purchase-workflow
	url = git@github.com:c4a8-odoo/module-oca-purchase-workflow.git
	branch = 16.0
[submodule "modules/oca/server-tools"]
	path = modules/oca/server-tools
	url = git@github.com:c4a8-odoo/module-oca-server-tools.git
	branch = 16.0
[submodule "modules/oca/server-ux"]
	path = modules/oca/server-ux
	url = git@github.com:c4a8-odoo/module-oca-server-ux.git
	branch = 16.0
[submodule "modules/oca/web"]
	path = modules/oca/web
	url = git@github.com:c4a8-odoo/module-oca-web.git
	branch = 16.0
[submodule "modules/oca/sale-workflow"]
	path = modules/oca/sale-workflow
	url = git@github.com:c4a8-odoo/module-oca-sale-workflow.git
	branch = 16.0
[submodule "modules/oca/contract"]
	path = modules/oca/contract
	url = git@github.com:c4a8-odoo/module-oca-contract.git
	branch = 16.0
[submodule "modules/oca/hr-expense"]
	path = modules/oca/hr-expense
	url = git@github.com:c4a8-odoo/module-oca-hr-expense.git
	branch = 16.0
[submodule "modules/oca/mis-builder"]
	path = modules/oca/mis-builder
	url = git@github.com:c4a8-odoo/module-oca-mis-builder.git
	branch = 16.0
[submodule "modules/oca/server-backend"]
	path = modules/oca/server-backend
	url = git@github.com:c4a8-odoo/module-oca-server-backend.git
	branch = 16.0
[submodule "modules/oca/hr-holidays"]
	path = modules/oca/hr-holidays
	url = git@github.com:c4a8-odoo/module-oca-hr-holidays.git
	branch = 16.0
[submodule "modules/oca/product-attribute"]
	path = modules/oca/product-attribute
	url = git@github.com:c4a8-odoo/module-oca-product-attribute.git
	branch = 16.0
[submodule "modules/oca/project"]
	path = modules/oca/project
	url = git@github.com:c4a8-odoo/module-oca-project.git
	branch = 16.0
[submodule "modules/oca/reporting-engine"]
	path = modules/oca/reporting-engine
	url = git@github.com:c4a8-odoo/module-oca-reporting-engine.git
	branch = 16.0
[submodule "modules/c4a8/account"]
	path = modules/c4a8/account
	url = git@github.com:c4a8-odoo/module-account-addon.git
	branch = 16.0
[submodule "modules/c4a8/helpdesk"]
	path = modules/c4a8/helpdesk
	url = git@github.com:c4a8-odoo/module-helpdesk-addon.git
	branch = 16.0
[submodule "modules/c4a8/partner-contact"]
	path = modules/c4a8/partner-contact
	url = git@github.com:c4a8-odoo/module-partner-contact-addon.git
	branch = 16.0
[submodule "modules/c4a8/theme"]
	path = modules/c4a8/theme
	url = git@github.com:c4a8-odoo/module-theme.git
	branch = 16.0
[submodule "modules/c4a8/timesheet"]
	path = modules/c4a8/timesheet
	url = git@github.com:c4a8-odoo/module-timesheet-addon.git
	branch = 16.0
